src/zoo-services/assets/dump.txt
.vscode/settings.json
*.pyc
__pycache__
*.coverage
.idea

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
