src/zoo-services/assets/dump.txt
.vscode/settings.json
*.pyc
__pycache__
*.coverage
.idea

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

docker/tmp
/charts/ades/charts/pgbouncer-1.0.15.tgz
/charts/ades/charts/postgresql-12.1.9.tgz
/charts/ades/charts/rabbitmq-11.5.0.tgz
/charts/ades/charts/redis-17.6.0.tgz
/charts/ades/Chart.lock
/charts/ades/templates_kompose/
/charts/ades/mycharts/values_*
